<div class="<%= (classes ? classes.join(' ') : '') %>">
    <time itemprop="datePublished" datetime="<%= post.date.format() %>">
	<% if (post.lang) { %>
		    <%= post.date.locale(post.lang).format(__('date_format')) %>
    	<% } else { %>
		    <%= post.date.locale(page.lang).format(__('date_format')) %>
    	<% } %>
    </time>
    <% if ((post.categories) && (post.categories.length > 0)) { %>
        <span><%= __('post.categorized_in')  %> </span>
        <strong><%- partial('category', {categories: post.categories})%></strong>
    <% } %>
    <% if ((post.tags) && (post.tags.length > 0)) { %>
        / 
        <span class="text-color-light text-small"><%= __('post.tagged_in') %></span>
        <strong><%- partial('tag', {tags: post.tags})%></strong>
    <% } %>
</div>
